.review_form{
      display: flex;
      flex-flow: column nowrap;
      gap: 1rem;
      margin: 1rem 0;
    }

select:invalid {
    color: rgba(white, 0.6)
  }

.shop_name input{
      width: 100%;
  }

input.btn-primary{
    padding: 0.5rem;
    border: 2px solid white;
    border-radius: 4px;
    font-size: 1rem;
    text-transform: capitalize;
    background-color: $accent-color;
    color: $main-color;
    width: 30%;
    margin: auto;
  }

.autocomplete-dropdown-container{
  color: black;
}

.react-stars{
  padding: 0.5rem;
  border: 1px solid $accent-color;
  border-radius: 4px;
  background-color: transparent;
  color: white;
  width: 100%;


}
.react-stars span:first-child:before{
content:'Rating';
color: rgba(white, 0.6);
font-size: 1rem;
margin-right: 2rem;
}

.react-stars span:first-child:before {
  content: 'Rating';
  color: rgba(white, 0.6);
  font-size: $font-sm;
  margin-right: 2rem;
}


.react-stars{
  width: 100%;
  padding: 0.5rem 1rem;
  border: 1px solid $accent-color;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.35);

}

.select-container{

  select {
    -webkit-appearance: none;
    appearance: none; /* デフォルトのスタイルを無効 */
  }
  select::-ms-expand {
    display: none; /* デフォルトのスタイルを無効(IE用) */
  }
}
