.autocomplete-dropdown-container {
  color: black;
}

.react-stars {
  display: flex;
  align-items: center;
}

.react-stars span:first-child:before {
  content: 'Rating';
  color: rgba(white, 0.8);
  font-size: $font-sm;
  margin-right: 2rem;
}
