footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  height: $footer-height;
  z-index: 1000;

  .wrapper {
    flex-grow: 1;
  }

  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  li {
    width: 56px;
    height: 56px;
    border: 2px solid $accent-color;
    border-radius: 28px;
  }

  a {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
  }

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 28px;
    transform: translate(-50%, -50%);
  }

  .icon-button--create-review {
    background-color: white;
  }

  .icon-button--logout {
    position: relative;
    cursor: pointer;
  }

  .nav-link--home,
  .nav-link--profile {
    transform: translate(0, -2px);
  }
}
