footer {
  position: fixed;
  bottom: 0;
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  height: $footer-height;
  width: 100%;
  background-color: $main-color;
  z-index: 1000;
}

.footer__wrapper {
  flex-grow: 1;
}

.footer__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__list-item {
  width: 56px;
  height: 56px;
  border: 2px solid $accent-color;
  border-radius: 28px;
  position: relative;
}

.footer__list-item--create-review {
  background-color: white;
}

.footer__link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer__link--home {
  transform: translate(-50%, calc(-50% - 2px));
}

.footer__icon {
  width: 28px;
}
