.home {
  .search-link {
    display: flex;
    margin: 1rem 0;
  }

  .search-icon {
    padding: 0.5rem;
    border: 1px solid $accent-color;
    border-radius: 5px 0 0 5px;
    background-color: rgba(0, 0, 0, 0.35);
    color: $accent-color;

    img {
      width: 24px;
      transform: translateY(4px);
    }
  }

  .search-box {
    border-left: none;
    border-radius: 0 5px 5px 0;
    font-size: 20px;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 2000;
    padding: 0 1rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    background-color: rgba(black, 0.8);
  }

  .current-location-loading-message {
    text-align: center;
    font-size: 1.5rem;
  }

  .shop-name {
    font-size: 16px;
    font-weight: 700;
  }

  .shop-address {
    font-size: 14px;
  }

  .info-window {
    color: black;

    p {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 0.5rem 0;
    }
  }

  .shop-list {
    border: 1px solid $accent-color;
    border-radius: 4px;
    padding: 0 1rem;
    background-color: $bg-light-color;
    color: black;

    .shop-list-item:not(:last-child) {
      border-bottom: 2px solid $accent-color;
    }

    .shop-list-item a {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;

      p {
        margin: 0.5rem 0;
      }

      .shop-category {
        display: flex;
        justify-content: center;
        flex: 0 0 36px;

        .shop-category-icon--bar {
          height: 36px;
          transform: translateX(2px);
        }

        .shop-category-icon--restaurant {
          height: 30px;
          transform: translateX(3px);
        }

        .shop-category-icon--store {
          height: 28px;
        }
      }

      .shop-info {
        flex-grow: 1;
        overflow: hidden;

        p {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      .shop-review {
        text-align: right;
        font-size: 22px;
        color: $accent-color;
      }
    }
  }
}
