.login-wrapper,
.signup-wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  min-height: 100vh;

  form {
    margin: 0;
  }
}

// Logo + inputs
#signup,
#login {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;

  .logo-wrapper {
    text-align: center;
  }

  img {
    width: 50vw;
    height: auto;
  }

  form {
    // label visually hidden to keep accessibility
    .form-label {
      clip: rect(0 0 0 0);
      clip-path: inset(50%);
      height: 1px;
      overflow: hidden;
      position: absolute;
      white-space: nowrap;
      width: 1px;
    }

    .btn--primary {
      margin-top: 2rem;
    }
  }
}

// Onlu Login
.login-wrapper {
  #login {
    row-gap: 1rem;
  }
  form {
    .btn--primary {
      background-color: $bg-light-color;
      color: #372c2e;
      border-color: $accent-color;
    }
  }

  .alert-danger {
    text-align: center;
  }
}

// Link to log-in/signup page
.w-100.text-center.mt-2 {
  margin-top: 0.7rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  p {
    font-size: $font-xs;
  }

  p:first-of-type {
    margin: 0;
  }

  p:nth-of-type(2) {
    margin: 0.4rem 0;

    a {
      color: $accent-color;
    }
  }
}
@media only screen and (min-width: $tablet-breakpoint) {
  .signup-wrapper,
  .login-wrapper {
    margin: 0 auto;
    max-width: 500px;
    #signup,
    #login {
      img {
        width: 220px;
      }
    }
  }
}
