.nav-item {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.edit-profile {
    background-color:rgba( 0, 0, 0, .4);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    border: 1px solid #DE9E48;
    border-radius: 5px;
    padding: 65px 1rem 1rem 1rem;
    position: relative;
    margin-top: 65px;

    .profile-img,
    .def-profile-img {
        background-color: $accent_color;
        width: 130px;
        height: 130px;
        border-radius: 50%;
        object-fit: cover;
        border: 2px solid $accent-color;
        position: absolute;
        bottom: calc(100% - 65px);
    }

    .def-profile-img {
        background-color: #403431;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 60%;
            height: 60%;
        }
    }



  input,
  label {
    //text-align: center;
  }

  label {
    padding-right: .5rem;
  }


  .MuiFormControl-root {
    display: flex !important;
    flex-flow: row nowrap !important;
    //justify-content: center;
    height: 19px;
    align-items: center;
    margin: .6rem;
    row-gap: .2rem;

    .MuiFormLabel-root {
      font-size: .9rem;
      font-weight: 300 !important;
      color: white;
    }

      // input div
    .MuiInputBase-root {
      line-height: 1;
      width: 100px;
      flex-grow: 1;
    }

      // input padding
    .MuiInputBase-input {
      padding: 0;
      font-size: .9rem;
      font-weight: 300;
      line-height: 1;
      height: auto !important;
      border: none;
      animation-name:none;
      animation-duration: 0s;
      border-radius: 0px;
      color: $accent-color;


      &:focus {
        width: 100%;
      }
    }
  }

  #gender, #age {
    width: 100%;
    .MuiFormControl-root {
      margin: 0;
    }
    .MuiInputBase-root {
      flex-grow: 0;
    }
  }

  #gender .MuiInputBase-root {
    width: 75px;
  }

  #age .MuiInputBase-root {
    width: 50px;
  }

  .gender-age-wrapper {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    gap: 1rem;

    .MuiFormControl-root {
      margin: .6rem 0;
    }
  }

  // Gender Age Input
  .MuiSelect-select {
    color: white;
    display: flex;
    align-items: center;
    padding-right: 0 !important;
    width: 50px;
  }

    // gender age div 
    // class name changes depending on lable value
  .makeStyles-formControl-3 {
    margin: 1rem 0;
    //display: flex !important;
    //flex-flow: row !important;
    //margin: .7rem auto;

    .MuiInput-underline:after {
      border-bottom: none;
    }

    // gender age inputs 
    .MuiInputBase-root {
      width: 75px;
    }

  }

  .password-confirm label {
    width: 137px;
  }
  // div for input
  .MuiInputBase-fullWidth {
    //min-width: 20px !important;
    //max-width: 80%;
    width:  auto;
  }

  // label modify default
  .MuiInputLabel-formControl {
    position: relative;
    transform: none;
  }

  // label modify default
  .MuiInputLabel-shrink {
    transform: none !important;
  }

  // input margin
  label+.MuiInput-formControl {
    margin-top: 0;
  }


  // deactivate trasform for label
  .MuiInputLabel-marginDense {
    transform: none !important;
  }

  .MuiInputLabel-animated {
    transition: none !important;
  }

  // input div
  .MuiInput-underline:after {
    border-bottom: 1px solid $accent-color;
  }


  #selectInput .MuiInput-underline:after {
    border-bottom: none;
  }

  
  .MuiInput-underline {
    // get rid of default black border-bottom
    &::before {
      border-bottom: none;
    }

    &:hover:not(.Mui-disabled):before  {
      border-bottom: none;
    }

  }

  // label color focused
  .MuiFormLabel-root.Mui-focused {
    color: white;
  }

  // svg arrow icons
  .MuiSelect-icon {
    color: $accent-color;
    position: relative;
  }

  // upload image button
  #upload-img-label {
    margin: .5rem;
    text-align: center;
    font-size: .8rem;
    color: white;
    background-color: transparent;
    border: 1px solid $accent-color;
    border-radius: 5px;
    padding: .3rem 1rem;
  }

  #upload-button {
    display: none;
  }

  // undate button
  .btn--secondary {
    background-color: transparent;
    color: white;
    margin-top: 1rem;
  }
  

}


// gender age ul options outside of .edit-profile
#menu- {
  .MuiList-root{
    background-color: #372c2e;
    border: 1px solid $accent-color;
    border-radius: 5px;
    color: white;
    font-weight: 300;

    .MuiListItem-root{
      font-weight: 300;
      .Mui-selected {
        background-color: transparent;
      }

    }
  }

}
