.wrapper {
  padding-right: 1rem;
  padding-left: 1rem;

  @media screen and (min-width: $tablet-breakpoint) {
    padding-right: 2rem;
    padding-left: 2rem;
  }

  @media screen and (min-width: $pc-breakpoint) {
    padding-right: 3rem;
    padding-left: 3rem;
  }
}

.home__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 2000;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  background-color: rgba(black, 0.8);
}
