.btn--primary,
.btn--secondary {
  padding: 0.5rem;
  border: 2px solid white;
  border-radius: 4px;
  font-size: 24px;
  text-transform: capitalize;
}

.btn--primary {
  background-color: $accent-color;
  color: $main-color;
}

.btn--secondary {
  background-color: $main-color;
  color: white;
}
