button {
  width: 100%;
  height: 43px;
  border-radius: 5px;
  font-size: 18px;
  text-transform: capitalize;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

.btn--primary {
  border: 2px solid $bg-light-color;
  background-color: $accent-color;
  color: $main-color;
}

.btn--secondary {
  border: 2px solid $accent-color;
  background-color: white;
  color: $main-color;
}

.btn--tertiary {
  border: 2px solid $bg-light-color;
  background-color: $main-color;
  color: $bg-light-color;
}

.btn--sm {
  width: 140px;
  height: 36px;
  font-size: 16px;
}

.btn--xs {
  width: 60px;
  height: 27px;
  font-size: 14px;
}

.btn-area--half {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.btn--half {
  height: 40px;
  font-size: 16px;
}

.btn--link a {
  display: block;
}

.icon-btn--get-current-location {
  position: absolute;
  top: 16px;
  right: 8px;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
  display: flex;
  text-align: center;
  justify-content: center;

  img {
    width: 28px;
  }
}

.icon-btn--square {
  width: 28px;
  height: 28px;
  position: relative;
  border: 1px solid $accent-color;
  background-color: rgba(0, 0, 0, 0.35);
  cursor: pointer;

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    transform: translate(-50%, -50%);
  }
}

.icon-btn--get-current-location--disabled {
  position: absolute;
  top: 16px;
  right: 8px;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-color: white;
  display: flex;
  text-align: center;
  justify-content: center;

  img {
    width: 28px;
    animation: pulse 1s ease-in-out infinite;
  }
}

.icon--close {
  transform: translate(-50%, -50%) rotate(45deg) !important;
}

@keyframes pulse {
  50% {
    transform: scale(1.2);
  }
}
