.search-form {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  padding: 1rem;
  font-size: $font-sm;
}

.search-form__label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// create review page==============================================
// .review_form * {
//   margin: 2rem auto;
//   display: block;
//   width: 70%;
//   font-size: 1.3rem;

//   @media screen and (min-width: $pc-breakpoint) {
//     width: 50%;
//   }
// }

// .review_form {
//   padding-top: 1.5rem;

//   .location-search-input {
//     padding: 0.5rem;
//     width: 100%;
//     border: 2px solid $accent-color;
//     background-color: $main-color;
//     border-radius: 10px;
//   }

//   .autocomplete-dropdown-container {
//     color: black;
//     width: 100%;
//     div {
//       margin: 0;
//       padding: 0;
//       width: 100%;
//       span {
//         margin: 0;
//         padding: 0;
//       }
//     }
//   }

//   .drink_name,
//   .drink_category,
//   .drink_image,
//   .price,
//   .rating,
//   .comment {
//     padding: 0.5rem;
//     border: 2px solid $accent-color;
//     background-color: $main-color;
//     border-radius: 10px;
//   }

//   .drink_name::placeholder,
//   .location-search-input::placeholder,
//   .drink_image::placeholder,
//   .price::placeholder,
//   .rating::placeholder,
//   .comment::placeholder {
//     color: white;
//   }

//   .drink_category,
//   .drink_name,
//   .location-search-input,
//   .drink_image,
//   .price,
//   .rating,
//   .comment {
//     color: white;
//   }

//   .submit {
//     padding: 0.5rem;
//     margin-top: 3rem;
//     border: 2px solid white;
//     background-color: $accent-color;
//     border-radius: 10px;
//     width: 50%;
//   }
// }

//review update page==============================================

// .editReview {
//   label {
//     color: white;
//     left: -15%;
//   }

//   .MuiInputBase-root {
//     margin: 2rem auto;
//     display: block;
//     width: 70%;
//     font-size: 1.3rem;
//     background-color: $main-color;
//     border: $accent-color 2px solid;
//     border-radius: 10px;
//     color: white;
//     padding-left: 1rem;
//   }
//   .MuiSelect-root {
//     margin: 2rem auto;
//     display: block;
//     width: 70%;
//     font-size: 1.3rem;
//   }

//   .MuiFormControl-root {
//     margin: 2rem auto;
//     display: block;
//     width: 70%;
//     font-size: 1.3rem;
//   }

//   .rating {
//     margin: auto;
//     text-align: center;

//     input {
//       width: 70%;
//       margin: auto;
//       background-color: $main-color;
//       border-radius: 10px;
//       border: $accent-color 2px solid;
//       color: white;
//       padding-left: 1rem;
//     }
//     label {
//       color: white;
//       position: absolute;
//       left: -15%;
//       font-size: 0.75rem;
//     }
//   }

//   .drink_name {
//     width: 70%;
//     margin: auto;
//     label {
//       color: white;
//       position: absolute;
//       left: -15%;
//       font-size: 0.75rem;
//     }

//     div {
//       width: 70%;
//       margin: auto;
//     }
//     .MuiSelect-root {
//       margin: 0;
//     }
//   }

//   button {
//     display: block;
//   }

//   .submit {
//     padding: 0.5rem;
//     border: 2px solid white;
//     background-color: $accent-color;
//     border-radius: 10px;
//     width: 50%;
//     margin: 3rem auto;
//   }
//   .image_wrapper {
//     text-align: center;
//     img {
//       display: block;
//       margin: auto;
//     }
//   }
// }
