@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', helvetica, arial, sans-serif;
  background-image: url('./assets/images/cheers-bg-8.png');
  background-size: contain;
  color: white;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.wrapper {
  padding: 0 1.5rem;
}

.wrapper--narrow {
  padding: 0 3rem;
}

.container {
  padding-top: $header-height;
  padding-bottom: $footer-height;
}
