* {
  box-sizing: border-box;
}

body {
  font-family: helvetica, arial, sans-serif;
  background-color: $main-color;
  color: white;
  font-size: $font-xs;
}

h1 {
  font-size: $font-md;
}

h2 {
  font-size: $font-sm;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}
