@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', helvetica, arial, sans-serif;
  background: url('./assets/images/cheers-bg-8.png') center center no-repeat;
  background-color: $main-color;
  color: white;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  padding: 0 1.5rem;
}

.wrapper--narrow {
  padding: 0 3rem;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding-top: $header-height;
  padding-bottom: $footer-height;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
