// Below is just examples, to be modified

// Colors
$main-color: hotpink;
// Font Size
$font-size-small: 0.75rem;
$font-size-medium: 1rem;
$font-size-large: 2rem;
// Spacing
$xs-size: 0.5rem;
$s-size: 1rem;
$m-size: 1.75rem;
$l-size: 2.75rem;
$xl-size: 4rem;
$tablet-breakpoint: 600px;
$desktop-breakpoint: 1080px;
