// Colors
$main-color: #3d1600;
$accent-color: #de9e48;
$bg-light-color: #fdf9df;

// Breakpoints
$tablet-breakpoint: 600px;
$pc-breakpoint: 960px;

// Header & Footer Height
$header-height: 56px;
$footer-height: 84px;
